<?xml version="1.0"?>

<model>
  <name>Height Map 1</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ruilin Zhou</name>
    <email>ruilinzh@umich.edu</email>
  </author>

  <description>
    A simple height map with a flat area and a mountain area on NE corner.
  </description>
</model>
